# Data Preparation

In [91]:
# Load the libraries & dataframe

import pandas as pd
import numpy as np

df = pd.read_csv("../data/bank-additional-full.csv", sep=";")

df.shape
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [92]:
# Check the summary of dataframe
df.info()

# Check the missing values
df.isnull().sum().sort_values(ascending=False).head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

age              0
campaign         0
nr.employed      0
euribor3m        0
cons.conf.idx    0
dtype: int64

Need to convert the type of data based on the UCI variables information. Several variables, which are informed as categorical, Binary, or Date were loaded as object.

In [93]:
# Job: Categorical Variable
df['job'] = df['job'].astype('category')

# marital: Categorical Variable
df['marital'] = df['marital'].astype('category')

# education: Categorical Variable
df['education'] = df['education'].astype('category')

# contact: Categorical Variable
df['contact'] = df['contact'].astype('category')

# poutcome: Categorical Variable
df['poutcome'] = df['poutcome'].astype('category')

In [94]:
# default: Binary - Answer of "has credit in default?"
print(df['default'].unique())

['no' 'unknown' 'yes']

Although the variable is documented as binary, the raw dataset includes an additional "unknown" category.

To avoid information loss, the variable is treated as categorical rather than forcing a binary encoding.

In [95]:
df['default'] = df['default'].astype('category')
df['default'].dtype

CategoricalDtype(categories=['no', 'unknown', 'yes'], ordered=False, categories_dtype=object)

In [96]:
# housing: Binary - Answer of "has housing loan?"
print(df['housing'].unique())

# loan: Binary - Answer of "has personal loan?"
print(df['loan'].unique())

['no' 'yes' 'unknown']
['no' 'yes' 'unknown']

The 'housing and 'loan' also show an additional "unknown" category while they are documented as binary, thus, treated as categorical.

In [97]:
df['housing'] = df['housing'].astype('category')
df['loan'] = df['loan'].astype('category')

print(df['housing'].dtype)
print(df['loan'].dtype)

category
category

In [98]:
# day_of_week: Date - last contact day of the week
print(df['day_of_week'].unique())

# month: Date - last contact month of year (categorical)
print(df['month'].unique())

['mon' 'tue' 'wed' 'thu' 'fri']
['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'mar' 'apr' 'sep']

Although 'day_of_week' and 'month' described as Date type both contain categorical values, which represented days(e.g., mon, tue etc.) and month, thus convert data type as categorical variables.

In [99]:
df['day_of_week'] = df['day_of_week'].astype('category')
df['month'] = df['month'].astype('category')

In [100]:
# y: Binary - Target value
print(df['y'].unique())

['no' 'yes']

In [101]:
# Convert 'y'(target value) as binary type
df['y'] = df['y'].map({'yes':1, 'no':0})

print(df['y'].unique())
print(df.info())

[0 1]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  category
 2   marital         41188 non-null  category
 3   education       41188 non-null  category
 4   default         41188 non-null  category
 5   housing         41188 non-null  category
 6   loan            41188 non-null  category
 7   contact         41188 non-null  category
 8   month           41188 non-null  category
 9   day_of_week     41188 non-null  category
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  category
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  int64
dtypes: category(10), float64(5), int64(6)
memory usage: 3.9 MB
None

The variable `duration` is exlucded due to data leakage.
According to the dataset documentation (Moro, Rita, & Cortez, 2014), the duration of the call is only known after the interaction is completed and directly affects the target outcome. Including this feature would lead to unrealistic predicitive performance and violate proper modelling practice.

In [102]:
df = df.drop(columns=['duration'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  category
 2   marital         41188 non-null  category
 3   education       41188 non-null  category
 4   default         41188 non-null  category
 5   housing         41188 non-null  category
 6   loan            41188 non-null  category
 7   contact         41188 non-null  category
 8   month           41188 non-null  category
 9   day_of_week     41188 non-null  category
 10  campaign        41188 non-null  int64
 11  pdays           41188 non-null  int64
 12  previous        41188 non-null  int64
 13  poutcome        41188 non-null  category
 14  emp.var.rate    41188 non-null  float64
 15  cons.price.idx  41188 non-null  float64
 16  cons.conf.idx   41188 non-null  float64
 17  euribor3m       41188 non-null  float64
 18  nr.employed     41188 non-null  float64
 19  y               41188 non-null  int64
dtypes: category(10), float64(5), int64(5)
memory usage: 3.5 MB

In [104]:
# Store the pre-processed data
df.to_csv('../data/preprocessed-bank-data.csv', index=False)